<footer class="site-footer">
	<div class="container pure-g">
        <div class="footer-col pure-u-1 pure-u-md-1-4">
            <img src="{{ "/img/logo-white.png" | absolute_url }}" alt="" class="footer-logo">
        </div>
        <div class="footer-col pure-u-1 pure-u-md-1-4">
            <h3>About {{ site.short_title }}</h3>
            <ul>
            {% for item in site.data.menus.navigation %}
                <li><a href="{{ item.url | absolute_url }}">{{ item.title }}</a></li>
            {% endfor %}
            </ul>
        </div>
        <div class="footer-col pure-u-1 pure-u-md-1-4">
            <h3>Social Media</h3>
            <div class="grid grid-cols-3 gap-2 pr-12">
            {% for mediaitem in site.data.information.social_media %}
                <a href="{{ mediaitem.url | absolute_url }}" target="_blank" rel="noopener">
                    <img src="{{ mediaitem.icon | absolute_url }}" class="w-full object-fit" alt="{{ mediaitem.name }}" title="{{ mediaitem.name }}" />
                </a>
            {% endfor %}
            </div>
        </div>
        <div class="footer-col pure-u-1 pure-u-md-1-4">
            <h3>Contact</h3>
            {% include address.html %}
        </div>
	</div>
	<div class="copyright">
        <p class="pt-8">
            &copy;{{ 'now' | date: "%Y" }} {{ site.title }} - All Rights Reserved
		</p>
		<p class="font-bold py-4 text-md px-2">We are a student group acting independently of the University of California. We take full responsibility for our organization and this web site.</p>
		<a href="https://www.ocf.berkeley.edu">
		    <img src="https://www.ocf.berkeley.edu/hosting-logos/ocf-hosted-penguin-dark.svg"
			alt="Hosted by the OCF" style="border: 0;margin:0 auto;padding-top:20px;" />
		</a>
		<p class="py-8">
			<a href="{{ "/privacy" | absolute_url }}">Privacy</a> | <a href="{{ "/wp-admin" | absolute_url }}">Site Admin</a>
		</p>
	</div>
</footer>
<!-- Javascript -->
<script src="{{ "/js/main.js" | absolute_url }}" type="text/javascript"></script>
</body>
</html>
