{% if site.data.sponsors.sponsors %}
<h1>Sponsors</h1>
{% for spcat in site.data.sponsors.sponsors %}
  <div class="{{ spcat.card }} my-2">
    <h6 class="pt-0 pb-2 md:pb-6 text-xl font-bold">{{ spcat.title }}</h6>
    <div class="grid {{ spcat.classes }} gap-4 justify-center justify-items-center place-items-center">
      {% for spcatspon in spcat.sponsorlist %}
      <a href="{{ spcatspon.url }}"{% if spcatspon.dark == true %} class="p-2 bg-gray-700"{% endif %}>
        <img src="{{ spcatspon.image }}" alt="{{ spcatspon.name }}" title="{{ spcatspon.name }}" class="max-h-20 sm:max-h-24 md:max-h-36" />
      </a>
      {% endfor %}
    </div>
  </div>
{% endfor %}
{% endif %}
